
<!DOCTYPE html>
<html>
  <head>
    <title>Amusement Park</title>
    <link href="http://amusement-park.herokuapp.com/users/new/assets/application-2d5fee6a46971bce729d5547ebb874b9.css" media="all" rel="stylesheet" />
    <script src="http://amusement-park.herokuapp.com/users/new/assets/application-4b0de0711661bf23189c85a9c617b786.js"></script>
    <meta content="authenticity_token" name="csrf-param" />
<meta content="8o7wtDVCSgkT82VO85sNH7/hAQKS5BkvTWRVstfUzfE=" name="csrf-token" />


    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"></link>
  </head>
  <body>
    <!--  navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="<%= root_path %>"/>Home</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li><a href="/users/new">Sign Up</a></li>
              <li><a href="/signin">Sign In</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- content -->
    <div class="container"  role="main">
      <h1>New user</h1>

<form accept-charset="UTF-8" action="/users" class="new_user" id="new_user" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="8o7wtDVCSgkT82VO85sNH7/hAQKS5BkvTWRVstfUzfE=" /></div>

  <div class="field"> <label for="user_name">Name</label><br>
  <input id="user_name" name="user[name]" type="text" /></div>

  <div class="field"><label for="user_height">Height (in inches)</label><br>
  <input id="user_height" name="user[height]" type="number" /></div>

  <div class="field"><label for="user_happiness">How happy are you? (1-5 scale)</label><br>
  <input id="user_happiness" name="user[happiness]" type="number" /></div>

  <div class="field"><label for="user_nausea">How nauseous are you? (1-5 scale)</label><br>
  <input id="user_nausea" name="user[nausea]" type="number" /></div>

  <div class="field"><label for="user_tickets">How many dollars are in your pocket?</label><br>
  <input id="user_tickets" name="user[tickets]" type="number" /></div>

  <div class="field"> <label for="password">Password</label><br>
  <input id="password" name="user[password]" type="password" /></div>

  <div class="field">
    <label for="user_admin">Check box if you are a theme park owner</label>
    <input name="user[admin]" type="hidden" value="0" /><input id="user_admin" name="user[admin]" type="checkbox" value="1" />
  </div>

  <div class="actions">
    <input name="commit" type="submit" value="Create User" />
  </div>
</form>

<a href="/users">Back</a>

    </div>

  </body>
</html>