
<!DOCTYPE html>
<html>
  <head>
    <title>Amusement Park</title>
    <link href="http://amusement-park.herokuapp.com//assets/application-2d5fee6a46971bce729d5547ebb874b9.css" media="all" rel="stylesheet" />
    <script src="http://amusement-park.herokuapp.com//assets/application-4b0de0711661bf23189c85a9c617b786.js"></script>
    <meta content="authenticity_token" name="csrf-param" />
<meta content="8o7wtDVCSgkT82VO85sNH7/hAQKS5BkvTWRVstfUzfE=" name="csrf-token" />


    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"></link>
  </head>
  <body>
    <!--  navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="<%= root_path %>"/>Home</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li><a href="/users/new">Sign Up</a></li>
              <li><a href="/signin">Sign In</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- content -->
    <div class="container"  role="main">
      <div class="theme-showcase" role="main">

  <div class="left-pic">
    <img src="http://www.washingtonpost.com/wp-srv/special/health/why-roller-coasters-make-us-scream/images/rollercoasterBackground.jpg" width="550" height="325">
  </div>

  <div class="right-info">
    <h1>Welcome to the Amusement Park!</h1>
    <div class="center">
      <%= link_to "Sign in", signin_path %>
      <%= link_to "Sign up", register_path %>
    </div>
  </div>

</div>
    </div>

  </body>
</html>